BUILD_ENV=development # local | development | staging | production
VITE_APP_RPC_URL_MAIN=
VITE_APP_RPC_URL_FALLBACK=
VITE_APP_IS_AUCTION_ACTIVE=true # true | false
VITE_APP_WALLET_CONNECT_PROJECT_ID=
VITE_APP_CREATE_PASSWORD=

