@import './github-markdown.css';

@font-face {
  font-family: 'PPFormula';
  src: url('../fonts/PPFormula-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../fonts/IBMPlexMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../fonts/IBMPlexMono-Medium.woff') format('woff');
  font-weight: 500;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(17, 24, 39);
  @apply font-ppformula;
}

:disabled {
  cursor: not-allowed !important;
}

.dropdown-menu-items {
  @apply dark:bg-grey-700 dark:text-grey-200 font-inter;
}
.dropdown-menu-items li a {
  @apply px-6 py-3 block hover:bg-grey-900 whitespace-nowrap cursor-pointer;
}

.v-popper--theme-dropdown {
  .v-popper__wrapper {
    @apply shadow-sm shadow-grey-600;
  }
  .v-popper__inner {
    @apply border-none rounded-none !important;
  }
  .v-popper__arrow-inner {
    @apply border-grey-700 !important;
  }

  .v-popper__arrow-outer {
    @apply border-grey-700 !important;
  }
}

.v-popper--theme-tooltip {
  .v-popper__inner {
    @apply font-inter;
  }
}
