name: Cypress Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    env:
      CI: true
    strategy:
      matrix:
        node-version: [18.x]
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js version ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install
      - run: yarn dev & yarn test
